* {
  box-sizing: border-box;
}

:root {
  --ff-title: 'Karla', sans-serif;
  --ff-body: 'Inter', sans-serif;

  --fw-title: 800;
  --fw-primary: 400;
  --fw-secondary: 500;
  --fw-tertiary: 600;

  --bg-color: #f7f7ee;

  --color-title: #3f11c2;
  --font-color: #293264;
  --btn_main-color: #20154c;

  --select-color: #4477fc;
  --border-color: #6d7af0;
}

body {
  margin: 0;
  font-family: var(--ff-body);
  color: var(--font-color);
  background-color: var(--bg-color);
}

h1,
h3 {
  margin: 0;
}

h3 {
  overflow-wrap: break-word;
}

input[type='radio'] {
  display: none;
}

/*******************
     Start Quiz Page
********************/

.start__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  border-radius: 6px;
}

.quiz__title {
  display: inline-block;
  font-family: var(--ff-body);
  font-weight: var(--fw-title);
  font-size: 2.7rem;
  color: var(--color-title);
  z-index: 2;
  position: relative;
}

.quiz__title::before {
  content: '';
  display: inline-block;
  width: calc(100% + 20px);
  height: 21px;
  background: #ffca0c;
  border-radius: 7px;
  z-index: -1;
  position: absolute;
  left: -10px;
  bottom: 0;
}

.quiz__description {
  font-size: 1.125rem;
  margin-top: 0.4em;
}

.btn {
  background-color: var(--btn_main-color);
  color: #f5f7fb;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  padding: 1em 3.5em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0d0b19;
}

.btn__start--quiz {
  font-size: 1.3rem;
  width: 220px;
  height: 55px;
  padding: 0;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 0.5em;
}

/*******************
    Questions Page
********************/
.quiz__container {
  margin: 3em auto;
}

.body__bg {
  min-height: 100vh;
  background-image: url('../public/background_img.svg');
  background-size: cover;
}

.quiz__body {
  font-family: var(--ff-title);
  font-size: 1.25rem;
  font-weight: var(fw-tertiary);
  letter-spacing: 1px;
  margin-top: 0;
  z-index: 2;
}

.quiz__title.quiz__page-title {
  font-size: 3rem;
}

.quiz__title.quiz__page-title::before {
  display: none;
}

.quiz__subtitle {
  margin: 0;
  color: #191e29;
}

/* Content */
.container {
  max-width: 1000px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__card {
  width: 100%;
  padding: 1.4em 3em;
  margin-bottom: 1em;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 3px rgb(0 0 0 / 8%), 1px 1px 3px #d9d6d6,
    1px -1px 3px #bababa, -1px 1px 3px #656565;
  z-index: 2;
}

.input__grp {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em 2em;
  padding: 1.5em 0 1em;
}

.quiz__label {
  padding: 2px 28px;
  border: 1px solid #a4a4a7;
  border-radius: 10px;
  cursor: pointer;
}

.quiz__label.answer__chosen {
  background-color: var(--select-color);
  color: white;
  border-color: transparent;
}

.quiz__label.correct__chosen {
  background-color: var(--correct-color);
  border-color: transparent;
}

/* Form button */
.form__btn--container {
  margin-top: 3em;
  display: flex;
  justify-content: center;
}

.check__answers--btn {
  align-self: center;
  padding-left: 2.5em;
  padding-right: 2.5em;
  border-radius: 10px;
}

.check__answers--body {
  margin: 0 1em 0 auto;
  font-size: 1.125rem;
  font-weight: 700;
  color: #0035f1;
}

/****************
    Animation
****************/
.skeleton {
  animation: skeleton-loading 1.4s linear infinite alternate;
}

.btn__load {
  animation: btn__loading-text 1.4s linear infinite alternate;
}

.skeleton__header {
  margin-top: 15px;
  width: 100%;
  height: 30px;
}
.skeleton.skeleton__text {
  display: inline-block;
  margin: 10px;
  width: 20%;
  height: 24px;
}

.skeleton__text:first-of-type {
  margin-left: 0;
}

.skeleton__text:last-of-type {
  margin-left: 0;
}

.btn__load {
  font-size: 1.5rem;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(0, 0%, 62%);
  }

  100% {
    background-color: hsla(0, 0%, 62%, 0.4);
  }
}

@keyframes btn__loading-text {
  0% {
    color: hsl(93, 97%, 53%, 1);
  }
  100% {
    color: hsla(93, 97%, 53%, 0.193);
  }
}

/****************
  MEDIA QUERIES 
****************/
@media screen and (max-width: 400px) {
  h3 {
    font-size: 1rem;
  }

  .quiz__title.quiz-page {
    font-size: 2.6rem;
  }

  .quiz__body {
    font-size: 1.115rem;
  }

  .content__card {
    padding: 0.8em 1em;
  }

  .check__answers--body {
    font-size: inherit;
  }
}

@media screen and (max-width: 690px) {
  body {
    font-size: 0.8rem;
  }

  .quiz__container {
    width: 100%;
  }
  .content__card {
    padding: 1.5em 2em;
  }

  .quiz__label {
    padding-left: 15px;
    padding-right: 15px;
  }

  .form__btn--container {
    margin-top: 2em;
    flex-direction: column;
    gap: 1em;
  }

  .check__answers--body,
  .check__answers--btn {
    font-size: 1rem;
  }

  .check__answers--btn {
    padding-left: 3.5em;
    padding-right: 3.5em;
  }
}

@media screen and (max-width: 900px) {
  .quiz__container {
    width: 95%;
    padding: 0 1em;
  }
}

@media screen and (min-width: 901px) {
  .quiz__container {
    width: 80%;
  }
}
